<!-- <div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Game Name</label>
        <input type="text" class="form-control" name="game_name"/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Game Price</label>
        <input type="text" class="form-control" name="game_price"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
  </div>
</div> -->
<!-- <div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Game Name</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Game Price</label>
        <input type="text" class="form-control" formControlName="price" #price/>
      </div>
      <div *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['price'].errors.required">
          Price is required.
        </div>
      </div>
     
        <div class="form-group">
          <button (click)="addGame(name.value, price.value)" [disabled]="angForm.pristine || angForm.invalid"   class="btn btn-primary">Add</button>
          <button (click)="goTo()"   class="btn btn-primary">goToList</button>
        </div>
         
    </form>
  </div>
</div> -->

<div style="background-color:#e5e5e5;padding:15px;text-align:right;">
  <h1>Omniwyse</h1>
  <button class="btn btn-primary">Login User</button>

</div>

<div class="card">
  <div class="card-body">
      <div style="padding:50px;text-align:center;">
          <div class="btn-group-vertical">
            <button class="btn btn-primary" (click)="goTo()">NAVIGATE TO</button>
            <button style="margin-top:5px; width: 400px" class="btn btn-primary" (click)="goTo()">SECOND BUTTON</button>
            <button style="margin-top:5px;" class="btn btn-primary" (click)="goTo()">THIRD BUTTON</button>
          </div>
    
        </div>

  </div>
</div>

<div>
  <!-- Create a camera element centered -->
  <div id="camdemo" style="width: 320px; height: 240px; text-align: center; margin-left: 37%;"></div>
  <br>
    <div  style="text-align:center;">
        <!-- <input type="button" class="btn btn-primary"   id="start" value="Start / Shut down camera"/>
        <input type="button" class="btn btn-primary"  id="savefile" value="Save photo in Desktop"/> -->
        <button (click)="captureCamera()"   class="btn btn-primary">open/close camera</button>
        <button (click)="saveImage()"  style="margin-left: 5px" class="btn btn-primary">save image</button>
    </div>
</div>

<!-- <script>
  var enabled = false;
  var WebCamera = require("webcamjs");
  const{dialog}  = require('electron').remote;// Load remote component that contains the dialog dependency
//  var dialog = remote.require('dialog'); // Load the dialogs component of the OS
  var fs = require('fs'); // Load the File System to execute our common tasks (CRUD)

  document.getElementById("start").addEventListener('click',function(){
      if(!enabled){
          enabled = true;
          WebCamera.attach('#camdemo');
          console.log("The camera has been started");
      }else{
          enabled = false;
          WebCamera.reset();
          console.log("The camera has been disabled");
      }
  },false);

  function processBase64Image(dataString) {
    var matches = dataString.match(/^data:([A-Za-z-+\/]+);base64,(.+)$/),response = {};
    if (matches.length !== 3) {
        return new Error('Invalid input string');
    }
    response.type = matches[1];
    response.data = new Buffer(matches[2], 'base64');
    return response;
  }

  document.getElementById("savefile").addEventListener('click',function(){
      if(enabled){
          WebCamera.snap(function(data_uri) {
              var imageBuffer = processBase64Image(data_uri);
              // dialog.showSaveDialog({
              //     filters: [
              //         { name: 'Images', extensions: ['png'] },
              //     ]
              // },function (fileName) {
              //        if (fileName === undefined){
              //             console.log("You didn't save the file because you exit or didn't give a name");
              //             return;
              //        }
              //        // If the user gave a name to the file, then save it !
              //        fs.writeFile(fileName, imageBuffer.data, function(err) {
              //            if(err){
              //                console.log("Cannot save the file :'( time to cry !");
              //            }else{
              //                alert("Image saved succesfully");
              //            }
              //        });
              // });
              var savePath = dialog.showSaveDialog({
                  filters: [
                       { name: 'Images', extensions: ['png'] },
                  ]
              });
              fs.writeFile(savePath, imageBuffer.data, function(err) {
                         if(err){
                             console.log("Cannot save the file :'( time to cry !");
                         }else{
                             alert("Image saved succesfully");
                         }
                     });
    });
      }else{
          console.log("Please enable the camera first to take the snapshot !");
      }
  },false);

</script> -->