<!doctype html>
<!-- <html>
<head>
<meta charset="utf-8">
<title>COTA</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head> -->

<!-- <body> -->
<div class="cdta">
  <!-- <h1 >CDTA</h1> -->
  <img class="navbar-brand" src="https://s3.amazonaws.com/qe-gfcp-tenant/cdta/resources/img/header_logo.png">

</div>
<div class="container">
  <div class="breadcrumb">
    <div class="step float-left step-completed"> <span class="step-number">1</span> <span class="step-txt">Take Photo</span>
      <span class="step-arrow">➜</span></div>
    <div class="step float-left step-not-completed"> <span class="step-number">2</span> <span class="step-txt">Preview
        Card</span> <span class="step-arrow">➜</span></div>
    <div class="step float-left step-not-completed"> <span class="step-number">3</span> <span class="step-txt">Print
        Card</span></div>
    <div class="clearfix"></div>
  </div>
  <div class="id-card-head">
    <img src="assets/images/id-card-icon.jpg" class="float-left" />
    <h1 class="float-left">Create ID Card</h1>
    <div class="float-left id-card-wizard"><img src="assets/images/id-card-wizard.jpg" /></div>
    <div class="clearfix"></div>
    <div class="id-card-sub-head">Take Picture</div>
    <div class="clearfix"></div>
  </div>
  <div class="container-in">
    <div class="container-in-a">
      <div class="id-card-set">
        <div class="id-card-img float-left">
            <div id="cameraParent">
                <div *ngIf="browseImg">
                  <span *ngIf="data2.image">
                    <img [src]="data2.image" [width]="cropperSettings2.croppedWidth" [height]="cropperSettings2.croppedHeight">
                  </span>
                </div>
                <div *ngIf = "uploadedImg">
                  <img [src]="imgSrc">
                </div>
              </div>
        </div>
        

        <div class="id-card-txt float-left">
          <h2>Test New</h2>
          <h2>Fare Type: Full</h2>
          <h2>Expires: 11/26/2028</h2>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="id-card-text-info">
        Use of the Connector Card constitutes acceptance of terms and conditions of the Connector User Agreement
        available online at www.cota.com or by calling (614) 228-1776.
        Do not bend or punch holes in the card.
      </div>

    </div>
    <div class="container-in-a photo-right">
      <h2>Webcam Instructions:</h2>
      <button *ngIf="openCamera" (click)="captureCamera()" class="btn">Take Picture</button>
      <div *ngIf="cameraShot">
        <button (click)="captureCamera()" class="btn">Try Again</button>&nbsp; 
        <button (click)="saveImage()" class="btn">Save to Local</button>&nbsp; 
        <button (click)="takesnapshot()" class="btn">Save Photo</button>
      </div>
      <h2>Upload Instructions:</h2>
      <ul>
        <li>Browse to select the user's photo</li>
        <li>Click Upload Photo (will replace existing photo)</li>
        <li><b>Photo size must be 176px X 205px</b></li>
      </ul>
      <div class="container-in-a photo-right" *ngIf="browseImg">
        <img-cropper #cropper [image]="data2" type="file" [settings]="cropperSettings2">
        </img-cropper>
      </div>
      <input id="upload" type="file" accept="image/*" class="hidden-input-element" (change)="fileChangeListener($event)">
      <div class="upload-btn">
        <button (click)="fileChange()"  class="btn">Upload Photo</button>
      </div>
    </div>



  </div>
  <div class="clearfix"></div>
  <div class="connector-logo">
    <img src="assets/images/connector-logo.jpg" />
    <div class="img-txt">Please ensure to load the correct cards into the printer before printing this ID Card</div>
  </div>
  <div class="btns-sec text-right">
      <button class = "btn float-left" [routerLink]="['/readcard']"> Go To Readcard</button>
    <button class="btn">Print Photo Only</button>&nbsp; 
    <button class="btn">Print and Encode Card</button>
  </div>
</div>


